<body>
<%= image_tag "bg.jpg", class: "bgimage"%>

<!--header-->
<div class="header">

  <div class="head">
    <a href="" class="navigator">Ana Sayfa</a>
    <!--logo-->
    <%= image_tag "logo.png", class: "logo" %>
    <!--menu-->
    <%= render :partial => 'shared/menu'%>
    </div>
    </div>

<!--banner-->
<div class="banner">


  <!--inner-->
  <div class="inner">




    <!--menuvertical-->
    <div class="menuvertical">
      <div class="click1">KADIN DOĞUM</div>
      <a href="" class="clicktext">Ayrıntılar için tıklayınız.</a>
      <div class="click2">DOKTOLARIMIZ</div>
      <a href="" class="clicktext">Ayrıntılar için tıklayınız.</a>
      <div class="click3">&nbsp; TIBBI BİLİMLERİMİZ</div>
      <a href="" class="clicktext">Ayrıntılar için tıklayınız.</a>
      <div class="click4">&nbsp; TANI ÜNİTELERİMİZ</div>
      <a href="" class="clicktext">Ayrıntılar için tıklayınız.</a>
    </div><!--end menuvertical-->





    <!--slider-->
    <div class="slider">
      <div id="slideshow">
        <ul class="slides">
          <li><%= image_tag "1.png", size: "700x550", alt: "Metro Hastanesi" %></li>
          <li><%= image_tag "2.png", size: "700x550", alt: "Metro Hastanesi" %></li>
          <li><%= image_tag "3.png", size: "700x550", alt: "Metro Hastanesi" %></li>
          <li><%= image_tag "4.png", size: "700x550", alt: "Metro Hastanesi" %></li>
        </ul>
        <span class="arrow previous"></span>
        <span class="arrow next"></span>
      </div>
    </div><!--end slider-->




    <!--containerbox-->
    <div class="containerbox">
      <div class="box1">Hastanemizden Online Randevu almak için <a href="" class="boxtext">Tıklayın &rArr;</a></div>
      <div class="box2">Laboratuvar sonuçlarınızı görmek için<a href="" class="boxtext">Tıklayın &rArr;</a></div>
    </div><!--end containerbox-->




    <!--news-->
    <div class="news">
      <!-- slider text -->
      <div class="freshdesignweb">
        <article class="grid_3  carousel-article">


          <div style="display: block; text-align: start; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 220px; height: 90px; margin: 0px; overflow: hidden;" class="caroufredsel_wrapper">
            <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1540px; height: 90px;" id="foo3" class="carousel-li">


              <li><p>
                <h4>14.02.2012</h4>
                <a href="" class="text">
                  Botoks ve dolgu uygulamaları, mezonoller (mikro iğneleme) ile akne izleri, stria(hamilelik çatlamaları)tedavisi, kimyasal peeling ile yüzeyel
                </a>
                </p></li>



              <li><p>
                <h4>14.02.2012</h4>
                <a href="" class="text">
                  Ziyaret Düzenlemeleri : Hastanemizde ziyaret saatleri 09:00-21:00 saatleri arasında yapılmakta olup 21:00'den sonra hasta rahatlığı açısından
                </a>
                </p></li>




              <li><p>
                <h4>23.08.2011</h4>
                <a href="" class="text">
                  Ülkemizde yılda 1.250.000 bebek doğmaktadır ve bunların yaklaşık %10’u riskli olup Yenidoğan Yoğun Bakım
                </a>
                </p></li>



            </ul>
          </div>
          <div class="clearfix"></div>
          <div style="display: block;" class="carousel-pagination" id="foo3_pag"><a class="selected" href="#"><span>1</span></a><a class="" href="#"><span>2</span></a><a class="" href="#"><span>3</span></a></div>
        </article>
      </div><!-- slider text end -->
    </div><!--end news-->




  </div><!--end inner-->
</div><!--end banner-->

</body>